<div id="{{this._id}}">
    <div class="col wide product-name">{{this.type}}</div>
    <div class="col wide product-quantity">{{this.qty}}</div>
    <div class="col wide product-price">{{this.price}}</div>
    <div class="col subtotal">{{this.subtotal}}</div>

    <div class="col right"><a href="#/deleteRow{{this._id}}">&#10006;</a></div>
</div>